/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
<<<<<<< HEAD
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    background-image: url('../../public/images/dark-starry-bg.png')
=======
  color: white;
  background: #1b263b url('../../public/images/stars.PNG') repeat;
  font-family: 'Kumbh Sans', sans-serif;
}

h1 {
  font-family: 'Kaushan Script', cursive;
}

.icon-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.icon {
  width: 3rem;
>>>>>>> main
}

.celestial-cursive {
  font-family:   'Kaushan Script', cursive;
}

.thin-regular {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 200;
}

.thick-regular {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
}

button {
  cursor: pointer;
<<<<<<< HEAD
}

.light-opacity-bg {
  --tw-bg-opacity: 0.06
=======

>>>>>>> main
}