/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  color: white;
  background: #1b263b url('../../public/images/stars.PNG') repeat;
  font-family: 'Kumbh Sans', sans-serif;
}

h1 {
  font-family: 'Kaushan Script', cursive;
}

.icon-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.icon {
  width: 3rem;
}

.celestial-cursive {
  font-family:   'Kaushan Script', cursive;
}

.thin-regular {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 200;
}

.thick-regular {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
}

button {
  cursor: pointer;
}

.light-opacity-bg {
  --tw-bg-opacity: 0.06
}



@media (hover: none) {
  .scroll-area-no-track::-webkit-scrollbar {
    width: 1px
  }
}

@media (hover: hover) {
  .scroll-area-no-track::-webkit-scrollbar {
    width: 5px;
  }

  .scroll-area-no-track::-webkit-scrollbar-thumb {
    background: #83817cdf;
    border-radius: 25px;
  }
}