/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  color: white;
  background: #1b263b url('../../public/images/stars.PNG') repeat;
  font-family: 'Kumbh Sans', sans-serif;
}

h1 {
  font-family: 'Kaushan Script', cursive;
}

.icon-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.icon {
  width: 3rem;
}

.celestial-cursive {
  font-family: 'Kaushan Script', cursive;
}

.thin-regular {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 200;
}

.thick-regular {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
}

button {
  cursor: pointer;
}

.light-opacity-bg {
  --tw-bg-opacity: 0.06
}


.fade-in {
  animation: fadeIn 0.5s ease-in;
}

.fade-in-out-continuous {
  animation: fadeInOut 1.5s ease-in infinite;
}

@keyframes fadeInOut {
  0% {
    opacity: 0
  }
  50% {
    opacity: 100%
  }
  100% {
    opacity: 0
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 100%
  }
}

.background-text {
  background-color: #253656bd;
  height: 350px;
  display: flex;
  flex-direction: column;
}

.react-calendar__navigation {
  display: flex
}

.react-calendar__navigation button:enabled:hover, .react-calendar__navigation button:enabled:focus {
  background-color: #778da961 !important;
  border-radius: 10px;
  
}

.react-calendar {
  background: #1b263b !important;
  border: none !important;
}

.react-calendar__tile--now {
  background: #778DA9 !important;
  border-radius: 50%;
}

.react-calendar__tile--active {
  background: #778da961 !important;
  border-radius: 50%;
}

.react-calendar__month-view__days__day--weekend {
  color: white !important;
}